<!DOCTYPE html>
<html lang="en">

<head>
    {{>header_bootstrap}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Team Member Confirmation</title>
</head>

<body>
    <div class="container mt-5">
        <h1>Edit Team Member Confirmation</h1>
        <form action="/editTeamMember/confirmed/{{teamMemberToUpdate._id}}?adminKey={{adminKey}}" method="get">
            <p class="mb-3">Are you sure you want to edit this team member?</p>
            <button type="submit" class="btn btn-primary">Confirm Edit</button>
        </form>
    </div>
</body>

</html>
