<!-- editConfirmation.hbs -->
<h1>Edit Confirmation</h1>
<p>Event Details:</p>
<p>Event Name: {{eventToUpdate.eventName}}</p>
<p>About Event: {{eventToUpdate.aboutEvent}}</p>
<!-- Add other event details as needed -->

<a href="/edit/confirmed/{{eventToUpdate._id}}?adminKey={{adminKey}}">Confirm Edit</a>
