<!DOCTYPE html>
<html lang="en">
  {{> header}}
  <body>
    {{> Navbar}}
    <div class="events-page">
      <div class="event-heading">
        <div class="rectangle-left rect-left" style="">
          <div class="rectangle-stroke"> </div>
        </div>

        <span> AAKRITI</span>

        <div class="rectangle-right rect-right" style="">
          <div class="rectangle-stroke stroke-right"> </div>
        </div>
      </div>

      <div class="event-data">
          <h1>SUB HEADING</h1>
          <p>
               The department lays prime focus on academics interspersed with co-curricular and extra-curricular activities that bring the versatility of its students to the fore and gives them a sound sense of perspective. The faculty comprises of experienced and dedicated teachers who with their expert inputs encourage students to explore new avenues. The computer society “Websters” was started with the aim to foster interest in the world of computers and technology. It provides a platform for like-minded brains to communicate with each other and expand their horizons.
          </p>
          <span class="register">
               <a href="#">Register Now</a>
          </span>
      </div>
      <div class="slider-controls">
  <a href="#" class="control_next">>></a>
  <a href="#" class="control_prev"><</a>
</div>

<div id="slider">
  <ul>
    <li>SLIDE 1</li>
    <li style="background: #aaa;">SLIDE 2</li>
    <li>SLIDE 3</li>
    <li style="background: #aaa;">SLIDE 4</li>
  </ul>  
</div>
    </div>
    {{> Footer}}
  </body>
</html>
