<!DOCTYPE html>
<html lang="en">
    {{>header}}
<body>
    {{>navbar}} 
    {{>hero}}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis asperiores obcaecati ipsum aut! Fugit ut facilis dolorum in consequatur voluptas doloremque excepturi laboriosam.
</body>
</html>