<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    {{>Navbar}}
    {{>hero}} 
        

    {{!-- About Section is here --}}

    {{!-- top left rectangle with primary colors --}}
    <div class="rectangle-left" style="">
        <div class="rectangle-stroke"> </div> 
    </div>

    <div class="about-container">

        <div class="about-heading">
            <div>ABOUT</div>
            <div>US</div>
        </div>

        <div class="vertical-line"></div>

        <div class="about-contents">
            The department lays prime focus on academics interspersed with co-curricular and extra-curricular activities
            that bring the versatility of its students to the fore and gives them a sound sense of perspective. The
            faculty comprises of experienced and dedicated teachers who with their expert inputs encourage students to
            explore new avenues. The computer society “Websters” was started with the  aim to foster interest in the
            world of computers and technology. It provides a platform for like-minded brains to communicate with each
            other and expand their horizons.
        </div>



    </div>


    <div class="rectangle-right" style="">
        <div class="rectangle-stroke stroke-right"> </div>
    </div>
    {{!-- About Section ends here --}}





    {{!-- time line starts here --}}


    <div class="timeline">



        <div class="timeline-heading">
            <div class="rectangle-left">
                <div class="rectangle-stroke"></div>
            </div>
            <div class="timeline-head">TIMELINE</div>
        </div>
 

        <div class="scroll-image">
            <img src="Images/Scroll.png" alt="this is scroll image">
        </div>

        <div class="vertical-line">
                
        </div>

    </div>






</body>

</html> 