<!-- teamMembersPage.hbs -->
<!DOCTYPE html>
<html lang="en">
    {{>header}}
  <body>
    {{> Navbar}}
    <div class="container">
      <h1 class="mb-4">Team Members</h1>

      <!-- Team Members Section -->
      <div class="row">
        {{#each teamMembers}}
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="/uploads/Team/{{getFileName this.imagePath}}" class="card-img-top rounded-circle" alt="{{this.name}}">
              <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.position}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>
