<!DOCTYPE html>
<html lang="en">
  {{> header}}
  <body>
    {{> Navbar}}
    <div class="events-page">
      <div class="event-heading">
        <div class="rectangle-left rect-left" style="">
          <div class="rectangle-stroke"> </div>
        </div>

        <span>TEAMS</span>

        <div class="rectangle-right rect-right" style="">
          <div class="rectangle-stroke stroke-right"> </div>
        </div>
      </div>
      <div class="team-container">
          
      </div>
    </div>
    {{> Footer}}
  </body>
</html>
