<!DOCTYPE html>
<html lang="en">
  {{> header}}
  <body>
    {{> Navbar}}
    <div class="teams-page">
      <div class="team-heading">
        <div class="rectangle-left rect-left" style="">
          <div class="rectangle-stroke"> </div>
        </div>

        <span>TEAMS</span>

        <div class="rectangle-right rect-right" style="">
          <div class="rectangle-stroke stroke-right"> </div>
        </div>
      </div>
      <div class="teams-container">
        <h1>SECRETARY</h1>
        <div class="secs">
          <div class="team-card">
            <div class="img">
              <img src="Images/picture.png" alt="">
            </div>
            <div class="info">
              <h2>NEPAL SINGH</h2>
              <h2>SEC</h2>
              <i class="fa-brands fa-square-facebook"></i>
              <i class="fa-brands fa-square-instagram"></i>
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-square-github"></i>
            </div>
        </div>
        {{> teamCard}}  
      </div>
      <h1>JOINT SECRETARY</h1>
        <div class="jsecs">
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
      </div>

      <h1>TE MEMBERS</h1>
        <div class="jsecs">
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
      </div>

      <h1>DEVELOPERS</h1>
        <div class="jsecs">
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
      </div>

      <h1>DESIGNERS</h1>
        <div class="jsecs">
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
        {{> teamCard}}  
      </div>

      </div>
      </div>
    </div>
    {{> Footer}}
  </body>
</html>
