<footer>
     <div class="footer">
          <div class="content">
               <div class="tblogo">
               <img src="Images/TB_logo.png" alt="TB Logo">
               </div>
               <div class="contact">
               <h2>Contact Us</h2>
               
               <p><i class="fa-brands fa-instagram"></i>   @aittechnicalboard</p>
               <p><i class="fa-brands fa-linkedin"></i> @TechnicalBoardAIT</p>
               <p><i class="fa-brands fa-facebook"></i> @AITTechnicalBoard</p>
               </div>
          </div>
          <p class="end">made with <i class="fa-solid fa-heart"></i> by TB Web Dev Team</p>
     </div>
     
</footer>