<div class="hero">
    <img class="Ring" src="Images/Ring.png" alt="">
    <img class="TB" src="Images/TB.png" alt="">
    <div class="weArehider">
        <div class="weAreHider">
            <div class="weAre">
                WE ARE
            </div>
        </div> 
    </div>
    <div class="TBhider">
        <div class="TechBoard">
            TECHNICAL BOARD
        </div> 
    </div>
</div>