<img src="Images/TBlogo.png" alt="club logo" class="tbLogo">
<nav class="desktopNav">
    <ul class="navList">
        <a href="">
            <li class="navLink">BLOG</li>
        </a>
        <a href="">
            <li class="navLink">OUR TEAMS</li>
        </a> 
        <div class="backslash"></div>
        <a href="">
            <li class="navLink home">HOME</li>
        </a>
        <div class="forwardslash"></div>
        <a href="">
            <li class="navLink">TIMELINE</li>
        </a>
        <a href="">
            <li class="navLink">CONTACT US</li>
        </a>
    </ul>
</nav>


<nav class="TabNav">
    <ul class="navList-tab">
        <a href="#">
            <li class="navLink-tab" onclick="OnClickNav(0)"><i class="fa fa-house" style="color: #000000;"></i></li>
        </a>
        <a href="#">
            <li class="navLink-tab" onclick="OnClickNav(1)"><i class="fa-solid fa-people-group" style="color: #000000;"></i></li> 
        </a>
        <a href="#">
            <li class="navLink-tab" onclick="OnClickNav(2)"><i class="fa-solid fa-file" style="color: #000000;"></i></li>
        </a>
        <a href="#">
            <li class="navLink-tab" onclick="OnClickNav(3)"><i class="fa-solid fa-chart-simple" style="color: #000000;"></i></li>
        </a>
                <a href="#">
            <li class="navLink-tab" onclick="OnClickNav(4)"><i class="fa-solid fa-address-book" style="color: #000000;"></i></li>
        </a>
    </ul>
</nav>