<nav class="desktopNav">
    <ul class="navList">
       <a href=""> <li class="navLink">BLOG</li></a>
       <a href=""> <li class="navLink">OUR EVENTS</li></a>
       <div class="backslash"></div>
       <a href=""> <li class="navLink home">HOME</li></a>
        <div class="forwardslash"></div>
       <a href=""> <li class="navLink">TIMELINE</li></a>
       <a href=""> <li class="navLink">CONTACT US</li></a>   
    </ul>  
</nav> 


{{!-- <nav class="TabNav">
    <ul class="navList">
       <a href=""> <li class="navLink">BLOG</li></a>
       <a href=""> <li class="navLink">OUR EVENTS</li></a>
       <div class="backslash"></div>
       <a href=""> <li class="navLink home">HOME</li></a>
        <div class="forwardslash"></div>
       <a href=""> <li class="navLink">TIMELINE</li></a>
       <a href=""> <li class="navLink">CONTACT US</li></a>   
    </ul>  
</nav>  --}}