<nav class="desktopNav">
    <ul class="navList">
        <a href="">
            <li class="navLink">BLOG</li>
        </a>
        <a href="">
            <li class="navLink">OUR TEAMS</li>
        </a>
        <div class="backslash"></div>
        <a href="">
            <li class="navLink home">HOME</li>
        </a>
        <div class="forwardslash"></div>
        <a href="">
            <li class="navLink">TIMELINE</li>
        </a>
        <a href="">
            <li class="navLink">CONTACT US</li>
        </a>
    </ul>
</nav>


<nav class="TabNav">
    <ul class="navList-tab">
        <a href="">
            <li class="navLink-tab"><i class="fa fa-house" style="color: #787878;"></i></li>
        </a>
        <a href="">
            <li class="navLink-tab"><i class="fa-solid fa-people-group" style="color: #787878;"></i></li>
        </a>
        <a href="">
            <li class="navLink-tab"><i class="fa-solid fa-file" style="color: #787878;"></i></li>
        </a>
        <a href="">
            <li class="navLink-tab"><i class="fa-solid fa-chart-simple" style="color: #787878;"></i></li>
        </a>
                <a href="">
            <li class="navLink-tab"><i class="fa-regular fa-address-book" style="color: #787878;"></i></li>
        </a>
    </ul>
</nav>