<div class="team-card">
            <div class="img">
              <img src="Images/picture.png" alt="">
            </div>
            <div class="info">
              <h2>NEPAL SINGH</h2>
              <h2>SEC</h2>
              <i class="fa-brands fa-square-facebook"></i>
              <i class="fa-brands fa-square-instagram"></i>
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-square-github"></i>
            </div>
        </div> 
      