:root{
    --primary : rgb(0, 234, 255) ;
    --secondary : rgb(168, 245, 239); 
    --textcolor : white;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow-y: hidden;
    background-color: #000021;
}


/* navbar starts here  */
nav{
    position: fixed;
    width: 100%;
}
.navList {
    display: flex;
    list-style: none;
    border: 1px solid var(--primary);
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    font-size: 2vh;
    font-weight: 700;
}


.navLink{
    margin:auto  2vw;
}
.home{
    font-size: 3vh;
    color: white;

}
.navList a{
    text-decoration: none;
    color: var(--primary);

}
.backslash{
    background-color: var(--primary);
    clip-path: polygon(0 0, 4% 0, 100% 100%, 97% 100%);
    width: 35px;
    height: 35px;
    border: var(--primary) 1.5px solid;
}
.forwardslash{
    background-color: var(--primary);
    clip-path: polygon(0 100%, 4% 100%, 100% 0, 97% 0);
    width:35px;
    height: 35px;
    border: var(--primary) 1.5px solid;
}

.TabNav{
    display: none;
    position: fixed;
    bottom: 30px;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.navList-tab{
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    list-style: none;
    background-color: white;
    width: calc( 90vw - 10px); 
    padding: 7px 5px ;
    border-radius: 6px;
    box-shadow: 3px 3px 4px #05D9E8;
}
.navList-tab i{
    text-shadow: 2px 2px 5px #78787888;
}








/* media querry  */
@media screen and (max-width:500px) {
    .desktopNav{
        display: none;
    }
    .TabNav{
        display: flex; 
    }
}