@font-face {
    font-family: "Karantina";
    src: url(fonts/Karantina-Bold.ttf) 
}
@font-face {
    font-family: "Faro";
    src: url(fonts/Farro-Bold.ttf) 
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
:root{
    --primary : rgb(0, 234, 255) ;
    --secondary : rgb(168, 245, 239); 
    --textcolor : white; 
    --white : #F5F5F5 ;
}
*{
    margin: 0;
    padding: 0;
    font-family:"Karantina";
}
::-webkit-scrollbar {
    width: 0em;
    height: 0em
}
body{ 
    width: 100vw;
    background-color: #000021;
    background-image: url(Images/background.png);
    background-size:cover;
    background-repeat: repeat-y;

    /* background-repeat: no-repeat; */
    /* min-height: 500vw;    */
}


/* navbar starts here  */
nav{
    position: fixed;
    width: 100%;
    font-family: "Faro";
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 1;
}
.tbLogo{
    display: none;
    width: 15vw;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
}
.navList {
    display: flex;
    list-style: none;
    border-top:1px solid var(--primary); 
    border-bottom:1px solid var(--primary); 
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    font-size: 2vh;
    font-weight: 700;
}


.navLink{
    margin:auto  2vw;
}
.home{
    font-size: 3vh;
    color: white;

}
.navList a{
    text-decoration: none;
    color: var(--primary);

}
.backslash{
    background-color: var(--primary);
    clip-path: polygon(0 0, 4% 0, 100% 100%, 97% 100%);
    width: 35px;
    height: 35px;
    border: var(--primary) 1.5px solid;
}
.forwardslash{
    background-color: var(--primary);
    clip-path: polygon(0 100%, 4% 100%, 100% 0, 97% 0);
    width:35px;
    height: 35px;
    border: var(--primary) 1.5px solid;
}

.TabNav{
    display: none;
    position: fixed;
    bottom: 30px;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.navList-tab{
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    list-style: none;
    background-color: var(--white);
    width: calc( 90vw - 10px); 
    padding: 15px 5px ;
    border-radius: 6px;
    box-shadow: 3px 3px 4px var(--primary);

}
.navList-tab i{
    text-shadow: 2px 2px 5px #78787888;
    border-radius: 50px;
    padding: 7px 9px;
    transition: 0.5s;
}
.navLink-tab{
    transition: 0.5s;
    font-size: 1.5em;
    user-select: none;
}


.active{
    border-radius: 50%;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.45);
    transform: translateY(-20px);
}

/* media querry  */
@media screen and (max-width:800px) {
    .desktopNav{
        display: none;
    }
    .TabNav{
        display: flex; 
        position: fixed;
    }
    .tbLogo{
        display: unset;
    }
}
/* ----------nav bar ends here ---------- */




/* ------------hero section starts here ------------ */
.hero{
    width: 90vw;
    height: 100vh;
    /* height: 100vh; */
    overflow-x: hidden ;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    margin: auto;

    font-family: "Karantina";
    line-height: 1.5;
    /* font-height: 1.5; */
}
.weAre{
    font-size: 5vw;
    color: var(--textcolor);
    font-weight: 700;
    width: 90vw;
    transform: scaleY(1.2); 
}
.weAreHider{
    animation: Hider 1s ease-in-out forwards;
    width: 0vw;
    overflow: hidden;
}
.TechBoard{
    font-size: 15vw;
    color: var(--textcolor);
    font-weight: 700;
    width:90vw;
    transform: scaleY(1.2);
}
.TBhider{
    animation: Hider 1s 1s ease-in-out forwards;

    width: 0vw;
    overflow: hidden;
}
@keyframes Hider {
    0%{
        width: 0px;
    }
    100%{
        width: 90vw;
    }
}
@media screen and (max-width:800px) {
    .weAre{
        font-size: 10vw;
        font-weight: 300;
    }
    .TechBoard{
        font-size: 20vw;
        line-height: 1;
        margin-top: 10vw;
    }
}



/* techboard ring animation starts here */
.Ring , .Ringm , .Ringm1{
    margin: auto;
    width: 35vw;
    scale: 0;
    position: absolute;
    margin-left: 25vw;
    animation: ring 1s 2s ease-in-out forwards;

}
.TB , .TBm , .TBm1{
    margin: 10vw auto auto 30.5vw;
    width: 25vw;
    position: absolute;
    animation: tb 0.8s 2s ease-in-out forwards;
    scale: 0;

}

/* mobile view classes starts here  */
.mobile-view{
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 200px;
    left: 0;
    position: absolute;
    overflow: hidden;
}
.TBm , .Ringm , .TBm1 , .Ringm1{
    display: none; 
    animation: none;
    scale: 1;
    opacity: 0.5;
}
.TBm {
    margin: -15vw auto auto 42vw;
    width: 110vw;
}
.Ringm{
    margin: -46vw auto auto 34vw;
    width: 130vw;
}
.TBm1 {
    margin: 75vw auto auto -65vw;
    width: 110vw;
}
.Ringm1{
    margin: 42vw auto auto -74vw;
    width: 130vw;
}
@media screen and (max-width:800px) {
    .TB , .Ring{
        display : none ;
    }
    .TBm , .Ringm , .TBm1 , .Ringm1{
        display: block; 
    }
    
}
/* mobile view classes ends here   */
@keyframes ring {
    0%{
        transform: rotate(0deg);
        scale :4;
    }
    100%{
        transform: rotate(720deg);
        scale:1;
    }
    
}
@keyframes ring-infinite {
    0%{
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
    }
    
}
@keyframes tb {
    0%{
        scale:0;
    }
    100%{
        scale:1;
    }
}


/* about section starts here  */

.rectangle-left , .rectangle-right{
    border: 1.5px  white solid;
    height: 15vh;
    width: 20vw;
    border-left: none;
    margin: 30px 0px;
}
.rectangle-stroke{
    width: 25vw;
    transform: translate(-30% ,20%);
    height: 15vh;
    background-color: var(--primary);

}
.about-container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.about-heading{
    width: 50%;
    font-size: 15vw;
    letter-spacing:31px;
    text-align: center;

}
.vertical-line{
    width: 1.5px ;
    height:300px ;
    margin: 10px 20px;
    background-color: rgb(178, 178, 178);
}
.about-contents{
    width: 35%;
    font-size: 2vw;
    color :  rgb(219, 219, 219);
}
.rectangle-right{
    float: right;
    border-left: 1.5px solid white;
    border-right: none;
    width: 25vw;
    padding-left: 30px ;
}
.stroke-right{
    transform: translate(0px ,20%);

}

@media screen and (max-width:800px) {
    .about-container{
        flex-direction: column;
    }
    .about-heading{
        display: flex;
        letter-spacing: 1px;
        width: 50%;
    }
    .vertical-line{
        display: none;
    }
    .about-contents{
        font-size: 2em;
        width: 80%;
        margin: auto;
    }
}

/* about section ends here */

/* timeline section starts here  */

.timeline{
    margin-top: 35vh;
}
.timeline-heading{
    display: flex;
    align-items: center;
}
.timeline-head{
    color: white;
    font-size: 10vw;
    letter-spacing: 10px;
    margin-left: 5vw;
}

.scroll-image{
    display: flex;
    justify-content: center;
    align-items: center
    ;
}
.vertical-line{
    width: 2px;
    
}